.main__purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.purchase {
  background-color: darkgoldenrod;
}

.purchase__title {
  font-size: 28px;
  font-family: "Raleway";
  color: #c7b299;
}

.purchase__text {
  font-size: 18px;
  font-family: "Montserrat";
  color: #615855;
}

.purchase__button {
  @in;
}
