/*Null Style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Montserrat';
  font-weight: 300;
  background-color: dimgrey;
}

.wrapper {
  overflow: hidden;
}

._container {
  max-width: 1230px;
  margin: 0 auto;
}

.header {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding: 40px 0;
  max-width: 1230px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 230px;
  margin: 0 205px 0 0;
  padding: 0 0 0 15px;
}

.logo__text {
  font-size: 34px;
  font-family: "Raleway";
  font-weight: 400;
  color: white;
  line-height: 1.2;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 15px;
  margin: 0 50px 0 0;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__items li {
  font-size: 14px;
  font-family: "Montserrat";
  line-height: 1.2;
  margin: 0 10px 0 0;
  display: block;
}

.menu__items a {
  color: white;
}

#about {
  font-size: 14px;
  font-family: "Montserrat";
  color: #c7b299;
  line-height: 1.2;
  min-width: 75px;
}

.menu__item {
  position: relative;
}

.menu__item::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.menu__item:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search img {
  text-align: center;
  margin: 0 20px 0 0;
}

@media (max-width: 1160px) {
  .header__logo {
    margin: 0 100px 0 0;
  }
}

@media (max-width: 768px) {
  .header__burgerWrapper {
    position: absolute;
    right: 15px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
  }
  .header__burger span {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
  }
  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    top: 9px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    bottom: 9px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    padding: 60px 0 20px 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__items li {
    margin-bottom: 10px;
  }
  .header__search {
    display: block;
    margin: 0 40px 0 auto;
  }
  .header__menu.active {
    top: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

@media (max-width: 455px) {
  .header__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header__logo {
    margin: 0 50px 0 0;
  }
}

@media (max-width: 370px) {
  .header__burgerWrapper {
    position: relative;
  }
}

.slider1__container img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.dot {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  margin: 0 10px 0 0;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: #939394;
  z-index: 20;
  cursor: pointer;
}

.radiusButtoms {
  margin-left: -55px;
  position: absolute;
  bottom: 0;
  left: 50%;
}

#left {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 5%;
  cursor: pointer;
}

#left:active {
  background-color: black;
  opacity: 0.1;
  border-radius: 15px;
  padding: 10px;
}

#right {
  position: absolute;
  z-index: 10;
  right: 5%;
  top: 50%;
  cursor: pointer;
}

#right:active {
  background-color: black;
  opacity: 0.1;
  border-radius: 15px;
  padding: 10px;
}

.slider1__image.opacity0 {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.actyveButt {
  background-color: darkolivegreen;
  border: 3px solid #afa091;
  width: 1px;
  height: 1px;
  padding: 5px;
  margin-top: -2px;
  background-clip: content-box;
}

.radiusButtoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actyveButtoms {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.slider1__title {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 20;
}

.title {
  text-align: center;
  padding: 15% 0 0 0;
}

.title__top {
  font-size: 36px;
  font-family: "Raleway";
  color: white;
  margin-bottom: 22px;
}

.title__main {
  font-size: 52px;
  font-family: "Raleway";
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

.title__text {
  font-size: 16px;
  font-family: "Montserrat";
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

.title__buttom {
  border-radius: 3px;
  background-color: #998675;
  -webkit-box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
          box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  width: 170px;
  height: 53px;
  font-size: 14px;
  font-family: "Raleway";
  color: white;
  font-weight: bold;
  line-height: 1.643;
}
