.main__amount {
	position: relative;
	background: $bgBraun;
}


.amount__container {
	padding: 60px 15px;
}

.amountt__flexContainer {
	@include flex(space-around, center);
}

.amount__item {
	margin-bottom: 10px;
	padding: 0 10px;

}


.item-amout__content {
	text-align: center;
}

.item-amout__content span{
	width: 30px;
	height: 2px;
	background-color:#ffffff;
	display: inline-block;
	border-radius: 5px;
}

.item-amout__content img {
	width: 44px;
	height: 44px;
	margin-bottom: 30px;


}

.item-amout__int {

	font-size: 48px;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	line-height: 0.75;
	text-align: center;
	margin-bottom: 15px;

}

.item-amout__text {
		font-size: 14px;
		font-family: "Montserrat";
		color: rgb(199, 178, 153);
		text-transform: uppercase;
		text-align: center; 
		margin-bottom: 25px;
}
@media(max-width:760px){

	.amountt__flexContainer {
	flex-wrap: wrap;	
	}

	.amount__item {
		margin-bottom: 25px;
	}

	.item-amout__int {
		font-size: calc(26px + (48 - 26)*((100vw - 320px) / (1200 - 320)));
	}
	
}
