

.main__excellentFor {
	background-color: #fbfaf8;
	padding: 0 20px;
	margin-bottom: 20px;

}
.excellentFor {
	padding-top: 75px;
}
.excellentFor__container {
}
._container {
}

.excellentFor__flexContainer {
	display: flex;
	
}



.excellentFor__image img {
	// width: 100%;
	// height: 100%;
	
}
.excellentFor__items {
}
.items {
	padding-top: 120px;
	max-width: 670px;
}
.items__title {
	text-align: start;
	margin-bottom: 35px;
}
.items__text {
		font-size: 16px;
		font-family: "Montserrat";
		color: rgb(140, 140, 140);
		line-height: 1.75;
		text-align: left; 
		margin-bottom: 35px;
}
.items__list {
	
}
.list {
}
.list__item {
		font-size: 16px;
		font-family: "Montserrat";
		color: rgb(140, 140, 140);
		line-height: 2;
		text-align: left; 
		padding-left: 50px;
		
}
.list li:before{
	content: url('../img/01.svg');
	margin-right: 10px;
	position: relative;
	top: 5px;

}

@media(max-width:950px){
	.excellentFor__flexContainer{
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	}
	.items {
		padding-top: 50px;
		
	}
	.items__title {
		text-align:center;
		margin-bottom: 35px;
	}

	.excellentFor__image img {
		width: 100%;
		height: auto;
		
	}

}