.header {
	z-index: 10;
	display:flex;
	top: 0;left: 0;right: 0;
	position: absolute;
	padding: 40px 0;
	max-width: 1230px;
	width: 100%;
	align-items: center		
	
	
	
}

.header__logo {
	display: flex;
	align-items: center;
	max-width: 230px;
	margin: 0 205px 0 0;
	padding: 0 0 0 15px;
}
.logo {
}
.logo__logos {
}
.logo__text {
		font-size: 34px;
		font-family: "Raleway";
		font-weight: 400;
		color: rgb(255, 255, 255);
		line-height: 1.2;	 
		
}
.header__menu {
flex: 1 1 auto;
padding: 0 15px;
margin: 0 50px 0 0;




}
.menu {
}
.menu__items {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
	
}

.menu__items li{
		font-size: 14px;
		font-family: "Montserrat";
		line-height: 1.2; 
		margin: 0 10px 0 0;
		display: block;
		
}

.menu__items a{
	color: rgb(255, 255, 255);	
}

#about{
		font-size: 14px;
		font-family: "Montserrat";
		color: rgb(199, 178, 153);
		line-height: 1.2;
		min-width: 75px;
	 
}

.menu__item {
	position: relative;
}

.menu__item::before {
	content: '';
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color:rgb(255, 255, 255) ;
	transition: 0.2s;
	transform: scaleX(0);
}

.menu__item:hover:before {
	transform: scaleX(1);
}
.header__search {
	display: flex;
	align-items: center;
}

.header__search img{
	text-align: center;
	margin: 0 20px 0 0;
}



@media (max-width: 1160px){
	.header__logo {
		margin: 0 100px 0 0;

	}
}
@media(max-width: 1001px){
	.header__logo {
		margin: 0 50px 0 0;

	}
	.header__menu {
		margin: 0 20px 0 0;
		
		}
}

@media (max-width: 913px){
	.header__burgerWrapper{
		position: absolute;
		right: 15px;
	}
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 5;
	}
	.header__burger span{
		background-color: rgb(255, 255, 255);
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;	
	}
	
	.header__burger::before,
	.header__burger::after{
		content: '';
		background-color: rgb(255, 255, 255);
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}
	.header__burger::before{
		top: 0;
	}
	.header__burger::after{
		bottom: 0;
	}
	.header__burger.active::before{
		transform: rotate(135deg);
		top: 9px;
		transition: all 0.5s;
		
	}

	.header__burger.active::after{
		transform: rotate(-135deg);
		bottom: 9px;
		transition: all 0.5s;
		
	}
	.header__burger.active span{
		transform: scale(0);
		
	}

	.header__menu{
		position: fixed;
		top: -200%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: scroll;
		background-color: blue;
		padding:60px 0 20px 0;
		transition: all 0.5s;
		
		
	}

	.menu__items{
		flex-direction: column;
	}
	.menu__items li{
		margin-bottom: 25px;
	}

	.header__search{
		display: block;
	margin:0 40px 0 auto;

	}
	.header__menu.active{
		top: 0;
		transition: all 0.5s;
		font-size: 30px;
	}

	.header__menu.active .menu__item{

		font-size: 30px;
	}
	.header__menu.active #about{

		font-size: 30px;
	}

}

@media (max-width: 455px){
	.header__search{
		display: flex;
		flex-wrap: nowrap;
	}

	.header__logo{
		margin: 0 50px 0 0;
	}
}

@media (max-width: 370px){
	.header__burgerWrapper{
		position: relative;
	}
	.logo__text{
		display: none;
	}
}