.main__labels {
}
.labels {
}
.labels__wrapper {
	background: url('../img/bg\ photo-bottom.png')
}
.labels__container {
}
._container {
}
.labels__flex-container {
	padding: 120px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.labels1 {
	display: block;
	height: 100%;
}
.labels2 {
	display:block;
	height: 100%;
}
.labels3 {
	display:block;
	height: 100%;
}
.labels4 {
	display: block;
	height: 100%;
}