.main__latest-project{
	position: relative;	
}

.latest-project__window-wrapper{
	position: relative;
	height: auto;
	transition: all ease-in-out 1.2s;
	
}

.latest-project__title {
	margin-bottom: 30px;
	
}
.latest-project__text {
	padding: 0 170px;
	margin-bottom: 40px;
}
@media(max-width:820px){
	.latest-project__text {
		padding: 0 20px;
		margin-bottom: 40px;
	}
}
.latest-project__buttons {
	padding: 0 10px;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.buttomChoce{
	margin: 0 10px 10px 0;
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(140, 140, 140);
	border: solid 2px #ebebeb;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
	width: 170px;
	height: 53px;
	font-weight: 300;
	line-height: 1.643;
	cursor: pointer;
	transition: all 0.4s;
}
.buttomChoce:hover{
	background-color: #6f6256;
	color: #ffffff;
}

.buttomChoce:active{
	background-color: #6f6256;
	color: #ffffff;
}

.latest-project__window-all {
	transition: all ease-in-out 1.2s;
	position: relative;
	@include flex (space-around ,center);
	flex-wrap: wrap;
}

.window__item {
	background-color: #fbfaf8;
	margin: 0 10px 30px 10px;
}

.window__item > img{
	max-width: 100%;
	height: auto;
}

.itemText__title {
	margin-bottom: 15px;
}
.itemText__text {
		font-size: 14px;
		font-family: "Montserrat";
		color: rgb(209, 209, 209);
	margin-bottom: 25px;
}
.window-all {
	position: absolute;
  justify-content: space-around;
}

.latest-project__window-web-design {
	transition: all ease-in-out 1.2s;
	position: absolute;
	@include flex (space-around ,center);
	flex-wrap: wrap
}

.latest-project__window-mobile-app {
	transition: all ease-in-out 1.2s;
	position: absolute;
	@include flex (space-around ,center);
	flex-wrap: wrap
}

.latest-project__window-illustration {
	transition: all ease-in-out 1.2s;
	position: absolute;
	@include flex (space-around ,center);
	flex-wrap: wrap
}

.latest-project__window-photography {
	transition: all ease-in-out 1.2s;
	position: absolute;
	@include flex (space-around ,center);
	flex-wrap: wrap
}


.opacity0{
	opacity: 0;
	transition: all 0.3s;
}
.display-none{
	display: none;
	transition: all ease-in-out 1.2s;
}


.latest__button-bottom{
	margin:  0 auto 80px;
	@include flex(center, center);
	@include button;
	
}