
$broun:#998675;
$mc: 0 auto;

@mixin flex($jc, $ai) {
	display: flex;
	justify-content: $jc;
	align-items: $ai;
}

@mixin container($wh) {
	max-width: $wh;
	margin: $mc;
}

@mixin button{
	border-radius: 3px;
	background-color: #998675;
	box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
	width: 170px;
	height: 53px;
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.643;
	cursor: pointer;
}

body h3{
		font-size: 30px;
		font-family: "Raleway";
		color: rgb(85, 85, 85);
		font-weight: bold;
		text-align: center;	 
}

.text-content14{
		font-size: 14px;
		font-family: "Montserrat";
		color: rgb(140, 140, 140);
		line-height: 1.75;
		text-align: center;
}

.text-content16{
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(140, 140, 140);
	line-height: 1.75;
	text-align: center;
}


