.main__posts {
	text-align: center;
	padding: 0 15px;
}
.posts {
}
.posts__container {
}

.posts__title {
	margin-bottom: 30px;
	padding-top: 80px;
}
.posts__text {
	margin:0 auto 30px;
	max-width: 760px;
	
}
.posts__items {
}
.posts__item-slider >a {

}
.slider-item {
}
.slider-item__line {
	position: relative;
	width: 370px;
	height: 395px;
	margin: 0 auto 30px;
	 background-color: #362f2d;


}

@media(max-width:1180px){
	.slider-item__line{
		overflow: hidden;
	}
}
.slider-item__slide {
	position: absolute;
	width: 370px;
	height: 395px;
	top: 0;
	left: 0;
	opacity: 1;
	transition: opacity  0.7s;
	
}


.slide {
}
.slide__image {
	
}
.slide__title {
	padding: 0 15px;
	text-align: start;
	margin-top: 20px;
	margin-bottom: 20px;
}
.slide__text {
	padding: 0 15px;
	text-align: start;
}
.text-content14 {
	padding: 0 15px;
	margin-bottom: 25px;
	text-align: start;
}
.slide__link {
	padding: 0 15px;
	display: flex;
	justify-content: flex-start;
	color: #c7b299;
}

.butPrev {
	cursor: pointer;
	padding: 3px;
	&:hover{
		opacity: 0.5;
		transition: all 0.5s;
	}
}
.butNext {
	cursor: pointer;
	transform: rotate(180deg);
	padding: 3px;
	&:hover{
		opacity: 0.5;
		transition: all 0.5s;
	}
}
.slider-item__buttoms{

	width: 60px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto 100px;
}

@media(max-width:430px){

	.slider-item__line{
		width: calc(200px + (370 - 200) * ((100vw -320) / (1200 - 320)));
		height: calc(260px + (395 - 260) * ((100vw -320) / (1200 - 320)));
	}
	.slide__image{
		width: 100%;
		 height: auto;
	}

	.slider-item__slide{
		width: calc(200px + (370 - 200) * ((100vw -320) / (1200 - 320)));
		height: calc(260px + (395 - 260) * ((100vw -320) / (1200 - 320)));
	}
	.slide__text{
		line-height: 1.2;
	}
}
@media(max-width:430px){
	.slide__title{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.text-content14{
margin-bottom: 15px;
	}
}
@media(max-width:300px){
	.slider-item__line{
		width: calc(180px + (370 - 180) * ((100vw -320) / (1200 - 320)));
		height: calc(230px + (395 - 230) * ((100vw -320) / (1200 - 320)));
	}

	.slider-item__slide{
		width: calc(180px + (370 - 180) * ((100vw -320) / (1200 - 320)));
		height: calc(230px + (395 - 230) * ((100vw -320) / (1200 - 320)));
	}

	.slide__text{
		margin-bottom: 10px;
	}
}