.main__purchase {
	position: relative;
	z-index: 3;
	bottom: 20px;
	height: 150px;
	margin-bottom: 80px;
	background: $bgBraun;
	@include flex(space-around, center)
	
}
.purchase {
	background-color: darkgoldenrod;
	
	
}
.purchase__content {
}
.purchase__title {
		font-size: 28px;
		font-family: "Raleway";
		color: rgb(199, 178, 153);
		margin-bottom: 15px;
		 
}
.purchase__text {
		font-size: 18px;
		font-family: "Montserrat";
		color: rgb(97, 88, 85);
}
.purchase__button{
	@include button
}