
.realisation {
	background-color: #fbfaf8;
}

.realisation__title {
	padding-top: 85px;
	margin-bottom: 25px;
}
.realisation__text {
		font-size: 16px;
		font-family: "Montserrat";
		color: rgb(140, 140, 140);
		line-height: 1.75;
		text-align: center;
		margin:0 auto 35px;
		max-width: 767px;
}
.realisation__photo{
	position: relative;
	max-width: 1260px;
	height: 500px;
	max-width: 774px;
	margin: 0 auto;

}

@media(max-width:795px){
	.realisation__photo{
height: calc(200px + (500 - 200)*((100vw - 320px) / (1200 - 320)));
	}
}

.realisation__photo > div{
	position: absolute;
	width: 100%;
	top: 0;

}
.realisation__photo1{
	max-width: 1100px;
}
@media (max-width:1260px){

}

.realisation1{
	max-width: 100%;
	height: auto;
	position: relative;
	z-index: 3;
}

.realisation2{
	max-width: 100%;
	height: auto;
	position: relative;
	top: 80px;left: 230px;
	
}
.realisation3{
	max-width: 100%;
	height: auto;
	position: relative;
	top: 80px;right: 230px;
}
