.main__services {
	//margin-top:1150px;
	margin:1200px 0 0 0;
}
@media(max-height:985px){
	.main__services {
		//margin-top:1150px;
		margin-top:1050px;
	}
}

@media(max-height:910px){
	.main__services {
		//margin-top:1150px;
		margin-top:950px;
	}
}

@media(max-height:850px){
	.main__services {
		//margin-top:1150px;
		margin-top:900px;
	}
}
@media(max-height:800px){
	.main__services {
		//margin-top:1150px;
		margin-top:860px;
	}
}

.services {
}
.services__container {
}
._container {
}
.services__items {
	position: relative;
	margin: 0 -10px;
	//flex-wrap: wrap;
	//border: solid 2px rgb(215, 75, 75);
	flex-wrap: wrap;
 @include flex(center, stretch)


}

.services__items>div{
	//border: solid 2px rgb(81, 37, 37);
	padding: 0 5px;
	height: 100%;
	//min-width: 277px;
	flex-direction: column;
	max-width: 289px;
	flex: 0 1 auto;
	 flex-wrap:wrap;
	 @media(max-width: 1241px){
		padding: 0 10px;
	}
	@include flex(center, center)
	
	
	
}

.services__items>div:not(:last-child){
	margin-right: 20px;
	@media(max-width: 1241px){
	margin-right: 0;	
	}
}


.item {	
}

.item__image {
	margin:0 auto 30px;
	width: 42px;
	height: 42px;

}
.item__title {
	margin-bottom: 25px;
}
.item__content {
	margin-bottom: 25px;
}
.item__content::after{
	content: '';
	display: block;
	margin: 20px auto 70px;
	width: 70px;
	height: 3px;
	 background-color: #f1eee9;

}



.item__design :hover {
	.item__title{
		opacity: 0.5;
		transition: all 0.3s;
	}

	.item__content::after{
		content: '';
		background-color: #5555;
		opacity: 0.5;
		transition: all 0.3s;
	}

	.item__image{
		opacity: 0.5;
		transition: all 0.3s;
	}
}

.item__development:hover {
	.item__title{
		opacity: 0.5;
		transition: all 0.3s;
	}
	.item__content::after{
		content: '';
		background-color: #5555;
		opacity: 0.5;
		transition: all 0.3s;
	}
	.item__image{
		opacity: 0.5;
		transition: all 0.3s;
	}
}
.item__customization:hover {
	.item__title{
		opacity: 0.5;
		transition: all 0.3s;
	}
	.item__content::after{
		content: '';
		background-color: #5555;
		opacity: 0.5;
		transition: all 0.3s;
	}

	.item__image{
		opacity: 0.5;
		transition: all 0.3s;
	}
}
.item__marketing :hover {
	.item__title{
		opacity: 0.5;
		transition: all 0.3s;
	}
	.item__content::after{
		content: '';
		background-color: #5555;
		opacity: 0.5;
		transition: all 0.3s;
	}
	.item__image{
		opacity: 0.5;
		transition: all 0.3s;
	}
}

@media(max-height:470px){
	.main__services {
		margin-top:500px;
	}
}

@media(max-width:1156px){
	.services__items{
		max-width: 800px;
		margin: 0 auto;
	}
}