@import 'main';
@import 'null';
@import 'header';
@import 'slider1';
@import 'service';
@import 'service';
@import 'realisation';
@import 'purchase';
@import 'latest';
@import 'video';
@import 'excellendFor';
@import 'amount';
@import 'posts';
@import 'labels';
@import 'lastBlock';
@import 'footer';

body{
	font-family: 'Montserrat';
	font-weight: 300;
}

.wrapper {
	overflow: hidden;
	max-width: 1920px;
	display: flex;
	flex-direction: column;
	
}

.main{
	flex: 1 1 auto;
}
	
._container {
	@include container(1230px);
	
}



